
html,body{ 
  background-color: blue;}

#b1{
 background-color: yellow;
     position: absolute;
    border: 5px solid;
    border-color: pink;
    padding: 15px;

}
#b2{
 background-color: grey;
 padding: 10px;
 width: 20%;
margin-left: : 15px;
float: left;
}
#b3{
 background-color: grey;
 padding: 5px;
 width: 35%;
float:left;



}
#b4{
 background-color: grey;
 padding: 5px;
 width: 35%;
display: block;
padding-bottom: 1200px;
display: table;

}
